html{
    padding: 0;
    margin: 0;
    background-image: url(home-img.jpeg);
    background-position: center;
    background-repeat: no-repeat;

}
h1{
    font-weight: bold;
    color: rgb(247, 191, 39);
    text-align: center;

}

li{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
}

a{
    color: rgb(33, 224, 33);
    font-weight: bold;
}