 body{
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat
    background-position center;
 }
 
 img{ 

    list-style-image: 100px;
    text-align: center;
    border-image: auto;
   }
   h1{
       text-align: center;
       color: white; 
       font-style: italic; 
   }
   
   button{
       text-align: center;
       background-color: black;
       color: red;
       width: 200px;
       text-size-adjust: 100%;
       font-weight: bold;

   }
   
   table{
       text-align: center;
       color: white;
       align-content: center;  
       align-items: center;
   }